__pycache__
*.pyc
*.pyo

Activate.cmd
Activate.*.cmd
Activate.ps1
Activate.*.ps1
Activate.sh
Activate.*.sh

Generated/*

Tools/Python/*
Tools/openssl/*

.coverage
coverage.xml

.vscode
.pytest_cache

Libraries/Python/CommonEnvironment/v1.0/CommonEnvironment.egg-info/*
Libraries/Python/CommonEnvironment/v1.0/dist/*

src/Formatter/CommonEnvironment_Formatter.egg-info/*
src/Formatter/dist/*

RepositoryBootstrap/Impl/Hooks/GeneratedCode/Compiler.ConditionalInvocationQueryMixin.data

Scripts/Formatter.py
